.buttonStromis {
  min-width: 200px;
  min-height: 100px;
  font-size: large;
  background: rgba(193, 209, 240, 0.86);
  color: #444444;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 5px;
}
.buttonStromis:hover{
  background: #84aed5;
}

div{
  text-align: center;
}
